body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    transition: .25s;
    background: #ffffff;
    color: rgb(0, 0, 0);
  }

  .boxes {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 650px;
    max-width: 650px;
    width: calc(100% - 100px);
    height: 400px;
  }
  
  .box1 {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    border: 0px solid #1a1a1a;
    background: var(--optionBackground, var(--defaultBackground, #525252));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    background-image: url('https://lh3.googleusercontent.com/pw/AJFCJaUqQBtEWnEluv5BmOEhtISFtpI0jIa59UofzcaWX07--L9Up0NW-Tt23oB8oWLTHHDTIu1no_SCAjD0ZQtqsKWHGC5EkfPvnrBUB4M6Yq0Q672BQmupzh41y6IXF8PupR8q91h6B-UYLX6mdOkIesc3=w1380-h1696-s-no?authuser=0');
    background-size: cover;
    background-position: center;
  }
  
  .box1.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 10px;
    border-radius: 40px;
    background-size: auto 100%;
    box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;  
  }
  
  .box1.active.shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .box1.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .box1.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  
  .box1:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .box1:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .box1:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .box1:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  
  .box1 .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /* Icons*/
  .box1 .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /*Icon for the boxes*/
  .box1 .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: var(--defaultBackground);
  }
  
  .box1 .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #ffff;
    font-size: 11px;
    white-space: pre;
  }
  
  .box1 .label .info > div {
    position: relative;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
  }
  /* title font size*/
  .box1 .label .info .main {
    font-size: 11px;
  }
  
  .box1 .label .info .sub {
    transition-delay: .1s;
  }
  /*Box 2*/

  .box2 {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    border: 0px solid #1a1a1a;
    background: var(--optionBackground, var(--defaultBackground, #525252));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    background-image: url('https://lh3.googleusercontent.com/pw/AJFCJaWINtQ1Pq7YNu3yg2SjwAq6JfFoMgvq9iY2ENV2Y5rYr2Nud1qJxq1JwCvirkZf6a5tf1EWoOIztFHx-Hk_OIF_0K7lbjif4JQ6j4ZQh7zto5_wB0zun6lHOG3lU8qHnCAy5enrG5vlS_wyq4Ha5hGU=w1504-h1696-s-no?authuser=0');
    background-size: cover;
    background-position: center;
  }
  
  .box2.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 10px;
    border-radius: 40px;
    background-size: auto 100%;
    box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;  
  }
  
  .box2.active.shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .box2.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .box2.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  
  .box2:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .box2:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .box2:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .box2:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  
  .box2 .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /* Icons*/
  .box2 .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /*Icon for the boxes*/
  .box2 .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: var(--defaultBackground);
  }
  
  .box2 .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #ffff;
    font-size: 11px;
    white-space: pre;
  }
  
  .box2 .label .info > div {
    position: relative;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
  }
  /* title font size*/
  .box2 .label .info .main {
    font-size: 11px;
  }
  
  .box2 .label .info .sub {
    transition-delay: .1s;
  }
  
  /* Box 3*/

  .box3 {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    border: 0px solid #1a1a1a;
    background: var(--optionBackground, var(--defaultBackground, #525252));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    background-image: url('https://lh3.googleusercontent.com/pw/AJFCJaUz-wgsTZIBykYizkkOUd6AveAb9QLSR-ybY1-HahBPGpEn_L7-_U56jMtNBkQ3L81CUGNzHToWUzoZPEu45cA1T_qVC88o1ONZ2UgMjkO5f2aEjfuECJZQMjpnItbxA90MEdRreM1SIuzssP-L0Tfo=w1524-h1696-s-no?authuser=0');
    background-size: cover;
    background-position: center;
  }
  
  .box3.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 10px;
    border-radius: 40px;
    background-size: auto 100%;
    box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;  
  }
  
  .box3.active.shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .box3.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .box3.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  
  .box3:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .box3:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .box3:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .box3:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  
  .box3 .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /* Icons*/
  .box3 .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /*Icon for the boxes*/
  .box3 .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: var(--defaultBackground);
  }
  
  .box3 .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #ffff;
    font-size: 11px;
    white-space: pre;
  }
  
  .box3 .label .info > div {
    position: relative;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
  }
  /* title font size*/
  .box3 .label .info .main {
    font-size: 11px;
  }
  
  .box3 .label .info .sub {
    transition-delay: .1s;
  }
  /* Box 4 */
  .box4 {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    border: 0px solid #1a1a1a;
    background: var(--optionBackground, var(--defaultBackground, #525252));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
  }
  
  .box4.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 10px;
    border-radius: 40px;
    background-size: auto 100%;
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;  
  }
  
  .box4.active.shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .box4.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .box4.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  
  .box4:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .box4:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .box4:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .box4:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  
  .box4 .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /* Icons*/
  .box4 .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /*Icon for the boxes*/
  .box4 .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: var(--defaultBackground);
  }
  
  .box4 .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #ffff;
    font-size: 11px;
    white-space: pre;
  }
  
  .box4 .label .info > div {
    position: relative;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
  }
  /* title font size*/
  .box4 .label .info .main {
    font-size: 11px;
  }
  
  .box4 .label .info .sub {
    transition-delay: .1s;
  }
 /* Box 5 */  
 .box5 {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    border: 0px solid #1a1a1a;
    background: var(--optionBackground, var(--defaultBackground, #525252));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    background-image: url('https://lh3.googleusercontent.com/fife/APg5EOZSDxYkyecXxmshmRFhqsEht8XxiTFBY14Cl4QO8Uv5dcZ7eC1N7fxeWq08HB04cY3QySylm_oTF8NvzQAOXUHx6Bw9UGA82XeVpcOXWEbZypiwZfUfq7opn2lTxqkJQr5Y3sY1X5t3BJgDAhbhkqA_ilvtanJdC8ARnpa-KrWKQXdUu-DgiAC42L6etMqdUcfe8n17FdBTtXr8mqjgAM24rLDi3yrxXcwEphGYxNBHQW5VVTY0jTPHdlez2OQqX4quYcDmW0FK8sMbC4iIQ9J2BVFMyHtkmENTt5YoJ1dxGRFfJqF7fXtKxnllsaz7ykmcaedHrFtF59Z8LsoCiK6PASDiCj8jBTBYWRIEgWPsV6Hl1UFf_hffGV6Vev1KvgP6Jd38APZx-c7ttP3r3W2bYAhNvdsjVxrDFq0uHXoNJom9Qwteg4SujcnTZyeRNY4x3Y_k7av3TkMx9lQ-5JScGWexyD02Nb62zy_-v2NgGsHirZrgzL_GGLvc5ZKMFM1yustahhiXrSV-wGHD51RYxrQpPVq_a-fF6hvPRjgFgz3axg6HkmmYcIDHXDRBq5VnE3VznwlQsJzQ-l4lblM1ayvvWvsLSE1FoHmiK0gAm8Oy1FP9rNEdXpWBnLgdNjBldY7K0YjwlgUJpBPpLtn7ROCQfvFocoXw0-TNlqJ-LHK8yagGGT34neQfHv8pHchwA97O3KiwnJyZdVdU0-QDHqeQMU82B-WZi7fPI_BmUSeumB2IuwyHHv60cLE7_B-8-mMImZDYUNdRfGnEwIAJMufb3zSmX7hJbIki7Hqmhlvq2if20W8ADRsP_JnMxuGut7kqTYegu-RI8ImnPwLehwNqsrrna8ZLv9WibY_WEfqxxCY9G5IXLHT8DkgKym4RmZfoBdcH22Jtyv2gPuJMH06HK9zHDFIGu5x7tzv24IJKSPDpcuKf5iiMN4_MSfQIY1HZZX7HuNg9zmt-Aq6IPbdBmpS170gBZyARefa_t3QUcE1adUS8rhzB2PTu9uSP6Ks1fW4y3TXdyZrcPdsc5kpEN-poSz_Wsdpa5uL_kWILBlNkffqGAOj9yVEhJ0oirzRBeDGFFwkAXFytrx-fYIEQgekb_mak0U_Qf0cVNWisvMgouZX7uVBNGk4Z8yhY9VYu8MNq508wQTQpgcjxlXL48KIO5ffLWpNNSKtMaDLxf0ix5SY73eMmDc53HvdOwGnuX-WHa72ogSQsY8iShBwXz_FHAmq4uZG486kajyHcUpSNHnR9eiGyJMCa0xwzbNaCpXio9tjLWL5O3wCovfMbFBXCPFLuRRTEOBjaV4EAN8-JU52oFCyIaCF23hu24YS_CNXM5Uxd-bfxZfi8iKBhowfZGzL_K5QRxCnSJOnOmQY2ZIqxj4DQm2kC0vSPeVjfUafDaWrTszo47AtmbOYV4rjtH0ZKaBtflOnznzkrBpGxEwajxb_EPWjNoNdkOXqEduRAtpUxvEeO4Qg2KpWg54zfSJEauTPde5F9nlGrS9Tvzz2inE5TpqqIvqTIUBLkcUUmsWw1NRDAU8abjXcvdOFBilJd0kF2TeRYLR-BMYx5I0LZuYwoCwCa0PK_2m1e9bzrSYeA7I9Lzom3s1HavbdvgGim2fQsg4FCThbcAqMeSJt6vXeKV8FLRAYy-hn8kYxWHfLksoETivwW9WI=s1696-w1530-h1696-s-no?authuser=0');
    background-size: cover;
    background-position: center;
  }
  
  .box5.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 10px;
    border-radius: 40px;
    background-size: auto 100%;
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;  
  }
  
  .box5.active.shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .box5.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .box5.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  
  .box5:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .box5:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .box5:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .box5:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  
  .box5 .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /* Icons*/
  .box5 .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /*Icon for the boxes*/
  .box5 .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: var(--defaultBackground);
  }
  
  .box5 .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #ffff;
    font-size: 11px;
    white-space: pre;
  }
  
  .box5 .label .info > div {
    position: relative;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
  }
  /* title font size*/
  .box5 .label .info .main {
    font-size: 11px;
  }
  
  .box5 .label .info .sub {
    transition-delay: .1s;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  .social-icons a {
    margin: 7px;
  }
  
  .social-icons img {
    width: 40px;
    height: 40px;
  }

  button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      background: #1a1a1a;
      color: #ffffff;
      cursor: pointer;
      border: none;
      margin-top: 10px;
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
