body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    transition: .25s;
    background: #ffffff;
    color: rgb(0, 0, 0);
  }

  .boxes {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 650px;
    width: calc(100% - 100px);
    height: 400px;
  }

  
  .box1 {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    border: 0px solid #1a1a1a;
    background: var(--optionBackground, var(--defaultBackground, #525252));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    background-image: url('https://lh3.googleusercontent.com/pw/AJFCJaWM0-2w8kJlKmJTzBdQ9N7CYkwr0bMmr0nr6vrQiSQYHDZCl2xFjKbtw8RpwaWCV9WP2cWzSWoVAzT3C8Me0UxNeMQjvY0PZwhCXyrdGJAB0bXFZI1OrYoeruTAA7WCr4vwLg-yZzIF4U3GAFGp2TL37a5_mrJ569diTQ9iAPivC8DbIX4-C8u2_4R1cyv5GQG9uBG5rMfhlzCj1TbMHHoO2mFaBVCwaB0Rq9-yYxPbUm2yo-nRgvowzwF-TVgppPQl34j7i8cuEvqJs9ph7jy3iWRXvDAcVqpGoxBn3OYgr0lRaCrl-wglvUbf8ReBrMGNJGdc5GhGZDHppy4kg3z7aZb4S36nmjCJbN1QhIZhTJw2aVvk5q-mmZWeDwH52CU-1h0T3FrRpVahx4r1tyVsS85UURKvW85wpZ8eOF-HKGdgn3kgKec0X04RJ05mzEYbXUftcdL0nowdOvcp8xemEjE4HE0Vy_qoltDoZQVDCVUFaySy4tCSkt62bOx2NjSHH3teC8JRRCNCYxATGyYL9OcFvuQvqV945Pye-5mIKyzBVnNrV7MYe2hmI5DEWF91JMSwLbtjXu1Nrq2DwTHgqz7WfjwcgZimx-_w66gjXkeOrCOCk5fBnAmwvvfIIbSKKvOG1_sRxQTNAymUVrHEfT14P8k2NQmg7qK4liFv06Zs15NivHE5vzyYMUcaZiLJmIqmWsDbTbzRvTcqi9O7yQf_sIcpxRbB8Os3sFuSIq1g2fNQYl2KtfHASBONRBmcuZ1Tjjj2PpO9tMWJfNy-Vp8b0RNvM2JKteajnSs9Z6MmAtpV-Cd_msQFuIGkSQ16zK2L80C5bFxPruSCVR7ElnsJdj-0pxPX-mCrOMdPhC5jlNZ3yovSGhB-_SyXfrD-Sumqv4BieICIKe5fBbG29qRjiDWAqLIFvEhxhUfMuio7nAZfzkJUN2UHsIxUxCf0kp2sDkzXhg4Gb3gwcW8gFV_ZB5Bp7B2tPAzw8Q-PFXxcMERwwQO0B5QjjBVJrd6TO2M=w1380-h1696-s-no?authuser=0');
    background-size: cover;
    background-position: center;
  }
  
  .box1.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 10px;
    border-radius: 40px;
    background-size: auto 100%;
    box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;  
  }
  
  .box1.active.shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .box1.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .box1.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  
  .box1:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .box1:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .box1:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .box1:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  
  .box1 .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /* Icons*/
  .box1 .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /*Icon for the boxes*/
  .box1 .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: var(--defaultBackground);
  }
  
  .box1 .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #ffff;
    font-size: 11px;
    white-space: pre;
  }
  
  .box1 .label .info > div {
    position: relative;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
  }
  /* title font size*/
  .box1 .label .info .main {
    font-size: 11px;
  }
  
  .box1 .label .info .sub {
    transition-delay: .1s;
  }
  /*Box 2*/

  .box2 {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    border: 0px solid #1a1a1a;
    background: var(--optionBackground, var(--defaultBackground, #525252));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    background-image: url('https://lh3.googleusercontent.com/pw/AJFCJaWIoNNfPlQ5T7mA9UWW3HvH5koaEIy5sUQKPtv78_NpAMZBx9Q2UMDMTYDuT302BB7Smx1D93xH_R-9cktKs4ZgXYRkcZ0dxDxMZy7413LNY0bgsYvjhDhw20C0nLCkS2WLKCHNH_9w8SpEN2bcZLhkwNF8wV1H8SfP0i-soW8tJKstf3YMrux9D640_UpMBXwMV_PqY30jTLLBfla0QZhiD3u8nn-g-sXL1Rd2_T7ilN7SxrHEprOKVFiNRJcthAmb4wh3-weX3Cz6y1EOPqZrEsxvZyQPO_XbskoGIpv_wqHs_9SpH5Ezf44rO6itxhCB4uQkCDs708Nk5LEZ87T98w_ewuC-aMnLGd6AjaZrTLYRLFfbdcH18gt_tGhprN0Nwxk3WnGajWRXh2fVCwjG2aWTOpkvFpGEkV1gMduq9NMDep4J2XdcvEhB2QvJ0zSvHaNG8YpmycbjG28F_Nu_gmoFnMUSVGZeqaLcqG9b-OoXxySilI3BCYdJ4c5xFHrTFBjhjCDEW7bWzAsQnNwfWNt--bFSYrgjGapVjdyFtUN-ZujGNxQJ1T3cCU92tXwugf8Wam0TxSI1lPo7Maa-eKi8b7OS0W46tf98Zq_v59sh1muK-Y5UR_ici7wGgSVHrRpqrKNAf5uLga1GUV8z6azZPfR43CtXR-StcDX_OsA0G9FSSIkXP9tBPUmxNA15SQd0nvMIUO5acp8wcT35KU5C020hwI0j8ND0IQz4A3j9PVbSkLL7t1KYQNkIGFUA7K5qDLQm4TYvEk1VtmfNbzbwptt-LGP-f1S_I_wIQWyhNNvtLD64ClSg6HbX5pg1E6GNiJC3C61sUCBvu0QGmK9Vt5JLwSGmAj73OxNuq8txSA6TgQRh0ABmBa-3CNFnrdZGYV7Vjz2-BzwB6hlGu2x4Vx1yObUjuBEB9AwyxG6MHX4RdAFTAZiAFB1X682iHUydfHDNmOlHEpnAU9N9Yjc2vjsLRWNNYsrsdhd1xI3Bz-ujpRTX6775qUHgFPuo-qw=w1504-h1696-s-no?authuser=0');
    background-size: cover;
    background-position: center;
  }
  
  .box2.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 10px;
    border-radius: 40px;
    background-size: auto 100%;
    box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;  
  }
  
  .box2.active.shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .box2.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .box2.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  
  .box2:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .box2:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .box2:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .box2:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  
  .box2 .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /* Icons*/
  .box2 .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /*Icon for the boxes*/
  .box2 .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: var(--defaultBackground);
  }
  
  .box2 .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #ffff;
    font-size: 11px;
    white-space: pre;
  }
  
  .box2 .label .info > div {
    position: relative;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
  }
  /* title font size*/
  .box2 .label .info .main {
    font-size: 11px;
  }
  
  .box2 .label .info .sub {
    transition-delay: .1s;
  }
  
  /* Box 3*/

  .box3 {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    border: 0px solid #1a1a1a;
    background: var(--optionBackground, var(--defaultBackground, #525252));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    background-image: url('https://lh3.googleusercontent.com/pw/AJFCJaX_cDe8hXSQAPtaiMLQcs1djmfx5I2zMCBPCDoqFhGgMc177AqorVxLvndYMPjUoLwzA2E2AmGOCfZnctuZWcOQxaxodIBnxmCN4NbU9ITu7P9YUF1cGPPy3cJa1fAcadAvDaCKPEmDEDrYtSVJCQyYVNXmXQYN38lr18245FShR073hdnRsGi1tIo1ZlKrjEVhvOEGRdgkDAeAgUEmxJooT0dxRT6KKGUT0_gMWwiafrxuMaXAs8azDFpdAPCFEySPjjderyHt8xBp4Zrnw3BBpL7nCsu3AVEtrlMmbk-AlZTZ0PqJ1by-_QWJPFI1Zm6lh5RWn5uMnkJZ-BoP1wY0VArtkEhG7vRbHus6Pn2q5zAzzXei71yRvcAnXzAHTcZYw28QMK4auYCjza9hnUNbHizMijDNfRbic3f0n26-rfpQs80e18qDAgRyMUg78_v66vV69_v4gdXY5IBlXzTT-ZfWYZTlydVBgDtIOW1ucTNJtYTN2LLqz2iZCMQ7OXc79MdI92qNz0GuyTIrdUEL_sBbG4DfABPLkMOj2PDCOunZ5HYE2nSyCtsrdjrdFjGmqRQ2ZIYa66rp5U8ebE4RkDMEpFkC8JDSXE9JGSzBH5PAyOXH0E25LGUP2ld1mRraYINlseuwcr-PNxF5camkU5H_kAeOXbUxi7Z4uI7StsjzZghLb1m5q03GRTXb9qZrFUf1Xo3I9ESUNUwhRLxCZj74CXwG1tHJvxtA5YL2cnJEB-uZa9E-nZgzQm4vi9Jewt5R2TQnnwKDZN08CnGn11qHENBOihMtkgBgf-xQetbX1sGVnrbKyULmxTaNQwV5aa9PanmweUbQA-rzYm1Q1ZcEvzut4x2dPAWLoEVPzXsSWYYo9-9jILQRV2dihEB9IjhNH9srHq7O7KE5agQufPpgp4mmkUFlLezuX1yU1-0N6WyWVNtPSkba18YHUczi_mJDo2jf-_Erp_KPmAV8LtR4q2m1_3yXSUvkRlRs7OuDfwP7obb7vJOxsjxiJk8XMOg=w1524-h1696-s-no?authuser=0');
    background-size: cover;
    background-position: center;
  }
  
  .box3.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 10px;
    border-radius: 40px;
    background-size: auto 100%;
    box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;  
  }
  
  .box3.active.shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .box3.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .box3.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  
  .box3:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .box3:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .box3:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .box3:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  
  .box3 .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /* Icons*/
  .box3 .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /*Icon for the boxes*/
  .box3 .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: var(--defaultBackground);
  }
  
  .box3 .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #ffff;
    font-size: 11px;
    white-space: pre;
  }
  
  .box3 .label .info > div {
    position: relative;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
  }
  /* title font size*/
  .box3 .label .info .main {
    font-size: 11px;
  }
  
  .box3 .label .info .sub {
    transition-delay: .1s;
  }
  /* Box 4 */
  .box4 {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    border: 0px solid #1a1a1a;
    background: var(--optionBackground, var(--defaultBackground, #525252));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
  }
  
  .box4.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 10px;
    border-radius: 40px;
    background-size: auto 100%;
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;  
  }
  
  .box4.active.shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .box4.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .box4.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  
  .box4:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .box4:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .box4:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .box4:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  
  .box4 .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /* Icons*/
  .box4 .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /*Icon for the boxes*/
  .box4 .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: var(--defaultBackground);
  }
  
  .box4 .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #ffff;
    font-size: 11px;
    white-space: pre;
  }
  
  .box4 .label .info > div {
    position: relative;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
  }
  /* title font size*/
  .box4 .label .info .main {
    font-size: 11px;
  }
  
  .box4 .label .info .sub {
    transition-delay: .1s;
  }
 /* Box 5 */  
 .box5 {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    border: 0px solid #1a1a1a;
    background: var(--optionBackground, var(--defaultBackground, #525252));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    background-image: url('https://lh3.googleusercontent.com/pw/AJFCJaWoCrW0rYB49XyLmOrnmtOkQDudevW62Crh_ljCOMidsv7K2oWWaGm3EXK-GCWPqWekksVP2lbdq46OtC9tkcq7KH0TqfDweY1DkP2XG6JR9jyGoj0WNfL2xqz8Vd_t6FvSR6FMo2BOCgbuemP-MqxXaFGf78WccezP2CAu6qkl0V2daH2T8cIjTl6-HBvXgFQVkQLOFqvNtCu-G0tjkHjikc2DKcGCVFAhDaI5BAZu_lKCZbvsYUIopmBYYzYfuZtJfMIDSi7SohLLcbnvAgRg3NA8I6oFcvddPWp3-GQp47l9B4w3mGbc1uXVxrTxz0vXmB8BjTu03eKvoqG1H8K-y6dKR4lBWt-bnFqsBG44BcJXJUJ5SNlxoy5M9r9kAUqPWjxRdS2U_tmy_Uh31-CNZInpD5HQbl_2FbxjiAMgDqXb_SSwtaSzFIFBxaEPoH4XCtlymtWs3olHqbJafF6N0v0Dv1Y5ijw111EbtMYYC8cT4BN5RxZM4j6KEmjhiMv1V_kavnGVOxYGqfh5N3A2pO7OhzAXKOWhQEwUWQTO8mSkrDZ0SivORwYFC-3Qq3TEt1aiVg5XW9Ez77b5RdgLjTQFtni73MR8O0WexsqHo5Wr3cHtqAs43u89jYiBX1W89vo1onUkpWxryjrWtiiiXg8Qsp2NC_YVhrX2crRzYH_pBptT_GzlBovniZkuy2RrZO3CdA8uXm58tLyXyXNQCbYVVmTegq0JFnSg3cC0QS9PEsknOblhROs_3KGqr4cWuUMsBhXa3ZBzuAL8pUK61URjsoHiSwSz4MXfCvGVsuJt8-2SfO5UQ68LuSlBzyDhat3mk-0l8AR3Plx-es-5s-7ICQPjOUsqGkAvkhKi9vxNA1hy0wKe-GENbejn3lH7FuWGyFnS681SwgZA-aL2Y4_uzlhpM3C7z8OPYBQ5XqAk1ckK9ldoJ59eEXV9KUChdlOUCrW7DxZZ7Mh7DwkHIPNl2cX5c88yX_KrM8Ql1U2lxj2TEt7uaJKzTw1stAY3HCM=w1530-h1696-s-no?authuser=0');
    background-size: cover;
    background-position: center;
  }
  
  .box5.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 10px;
    border-radius: 40px;
    background-size: auto 100%;
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;  
  }
  
  .box5.active.shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  
  .box5.active .label {
    bottom: 20px;
    left: 20px;
  }
  
  .box5.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  
  .box5:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  
  .box5:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  
  .box5:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .box5:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  
  .box5 .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /* Icons*/
  .box5 .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  /*Icon for the boxes*/
  .box5 .label .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: var(--defaultBackground);
  }
  
  .box5 .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #ffff;
    font-size: 11px;
    white-space: pre;
  }
  
  .box5 .label .info > div {
    position: relative;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
  }
  /* title font size*/
  .box5 .label .info .main {
    font-size: 11px;
  }
  
  .box5 .label .info .sub {
    transition-delay: .1s;
  }
  